{% extends 'base.html' %} 
{% block head %}
{% endblock %} 

{% block body %}
<div id="main">
  {% if status == "start" %}
    <div class="category-{{index}}">
        <h1>Video Streaming {{camera}} {{model}}</h1>
        <img src="{{ url_for('camera_feed', model=model, camera=camera) }}" width="640" height="320">
    </div>
  {% endif %}
</div>

<div class="container">
  <div class="choosingModelForm">
    <form action="/" method="post">
      <label for="Model">Choose a model:</label>
      <select name="Model" id="Model">
        <option value="None" {% if model == "None"%} selected {% endif %}>None</option>
        {% for ai_model in ai_models%}
        <option value={{ai_model}} {% if model == ai_model%} selected {% endif %}>{{ai_model}}</option>
        {% endfor %}

      </select>
      <br><br>
      <label for="Camera">Choose a Camera:</label>
      <select name="Camera" id="Camera">
        {% for video_feed in video_feeds%}
        <option value={{video_feed}} {% if camera == video_feed%} selected {% endif %}>{{video_feed}}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit">
    </form>

    <form action="/status" method="post">
      <button name="action" value="start">Start</button>
      <button name="action" value="stop">Stop</button>
    </form>
  </div>

</div>
{% endblock %} 